.top
{
	width: 100vw;
	height: 100vh;
	background-image: url(../img/1.png);
	background-size: cover;
}
.top_nav
{
	width: 100vw;
	height: 100px;
	background: rgba(0,0,0,0.3);
}
.middle1
{
	width: 100vw;
	height: 100vh;
	background-image: url(../img/3.png);
	background-size: cover;
}
.middle2
{
	width: 100vw;
	height: 100vh;
	background-image: url(../img/4.png);
	background-size: cover;
}
.bottom
{
	width: 100vw;
	height: 100vh;
	background-image: url(../img/picture/2.png);
	background-size: cover;
}
